<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="">RDV CENTRE HOSPITALIER</a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Accueil</a>
            </li>
            <li>
                <a routerLink="/patients" routerLinkActive="active">Patients</a>
            </li>
            <li>
                <a routerLink="/specialites" routerLinkActive="active">Spécialités</a>
            </li>
            <li>
                <a routerLink="/medecins" routerLinkActive="active">Médecins</a>
            </li>
            <li>
                <a routerLink="/rendez-vous" routerLinkActive="active">Rendez-vous</a>
            </li>
        </ul>
    </div>
</nav>